* {
  box-sizing: border-box;
}
.headerImg{
  height: 250px;
  width: 500px;
}
.container {
  display: flex;
  justify-content: center;
  border: 1px solid #fae1dd;
  border-radius: 10px;
}
.navbar{
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #83c5be;
}

.navbar li {
  float: left;
}

.navbar li a {
  /* float: right; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar li a.active {
  background-color: #ff006e
}

.carousel-inner{
 /* border: 1px solid black; */
 margin: 50px 50px 50px 400px;

}

.carousel-item active{
  border: 1px solid black;
  /* margin: 50px 350px 50px 400px; */
  
}

ul {
  list-style-type: none;
}

img {
  
  
}


.pixcs {
  /* margin: 50px 200px 50px 100px; */
 
}
